<div id="product_list">
  <div id="header">
      <h2>products</h2>
  <div>
  <div id="button"><%= link_to 'New Product', new_product_path %></div>
    
  <div id="list">
     <% @products.each do |product| %>
      <div class="item">
        <div class="fake_img">
        </div>
        <div class="brief_info">
            <div><%= product.name %></div>
            <div><%= product.description %></div>
            <div>s$<%= product.price %></div>
        </div>
      </div>
      <div class="options">
          <%= link_to 'Show', product %> <%= link_to 'Edit', edit_product_path(product) %> <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
  </div>
  <p id="notice"><%= notice %></p>
</div>
<br>


